# vim: set ft=dosini:

[MAIN]
# Specify a score threshold to be exceeded before program exits with error.
fail-under=9.9

# Make sure public methods are documented.
# See Also: https://github.com/PyCQA/pydocstyle/issues/309#issuecomment-1426642147
# Also fail on unused imports.
fail-on=
    missing-function-docstring,
    unused-import

# Ignore pylint complaints about an upstream dependency.
ignored-modules=ConfigSpace.hyperparameters

# Help inform pylint where to find the project's source code without needing to relyon PYTHONPATH.
#init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc())); from logging import warning; warning(sys.path)"
init-hook="from logging import warning; warning(sys.path)"

# Load some extra checkers.
load-plugins=
    pylint.extensions.bad_builtin,
    pylint.extensions.code_style,
    pylint.extensions.docparams,
    pylint.extensions.docstyle,
    pylint.extensions.for_any_all,
    pylint.extensions.mccabe,
    pylint.extensions.no_self_use,
    pylint.extensions.private_import,
    pylint.extensions.redefined_loop_name,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.set_membership,
    pylint.extensions.typing

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=99

[MESSAGE CONTROL]
disable=
    fixme,
    no-else-return,
    consider-using-assignment-expr,
    deprecated-typing-alias,            # disable for now - only deprecated recently
    docstring-first-line-empty,
    consider-alternative-union-syntax,  # disable for now - still supporting python 3.8
    missing-raises-doc

[STRING]
check-quote-consistency=yes
check-str-concat-over-line-jumps=yes
