<!-- vim: set ft=xml: -->
<configuration>
    <!-- Store nuget dependencies installed for MLOS in a local directory to make it easier to clean them. -->
    <config>
        <add key="repositoryPath" value="./tools/.nuget/packages" />
    </config>

    <!-- Look in the MLOS build output dirs for some nuget packages. -->
    <packageSources>
        <add key="LocalRepoReleaseBuildSource" value="./target/pkg/Release" />
        <!--add key="LocalRepoDebugBuildSource" value="./target/pkg/Debug" /-->
    </packageSources>
</configuration>
