{% extends 'markdown.tpl' %}
{%- block body -%}
  # [Download FILENAME.ipynb notebook](https://raw.githubusercontent.com/microsoft/MLOS/main/THE_PATH_TO_NOTEBOOK_FROM_MLOS_ROOT)
 {{ super() }}
  # [Download FILENAME.ipynb notebook](https://raw.githubusercontent.com/microsoft/MLOS/main/THE_PATH_TO_NOTEBOOK_FROM_MLOS_ROOT)
{%- endblock body -%}
