{% extends 'markdown.tpl' %}
{%- block body -%}
  # [Download notebook](https://raw.githubusercontent.com/microsoft/MLOS/main/source/Mlos.Notebooks/FILENAME.ipynb)
 {{ super() }}
{%- endblock body -%}
