# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Run the debug/retail msbuild jobs separately so they can be executed in parallel.

  windows-msbuild-debug:
    name: Run debug msbuild on Windows
    runs-on: windows-2019
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # Runs multiple commands using the runners shell
    - name: Run debug msbuild
      shell: cmd
      run: |
        set Configuration=Debug
        scripts\build.windows.cmd

  windows-msbuild-release:
    name: Run release msbuild on Windows
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Run release msbuild
      shell: cmd
      run: |
        set Configuration=Release
        scripts\build.windows.cmd

  # The licenseheaders check depends on comparing the source tree, so we keep it in a
  # separate pipeline to ensure it starts from a clean state.
  # For simplicity, we only run this one on ubuntu.

  python-licenseheaders-checks:
    name: Check for license header comments on python files
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install licenseheaders
    - name: Run licenseheaders tool and check to see if it caused any changes
      shell: bash
      run: |
        scripts/update-python-license-headers.sh
        # Note: licenseheaders currently rewrites the line-endings from crlf to lf,
        # so we instruct git-diff to ignore those when considering changes.
        git --no-pager diff --ignore-cr-at-eol --exit-code

  python-checks:
    name: Run Python checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019, ubuntu-20.04]
        # FIXME: MLOS currently fails pylint checks for 3.8
        python-version: [3.7] #, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install apt dependencies
      if: startsWith(matrix.os, 'ubuntu')
      # pip needs some additional libraries on linux:
      run: sudo apt -y install build-essential libfreetype-dev unixodbc-dev
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r source/Mlos.Python/requirements.txt
    - name: Run pylint checks (Windows)
      if: startsWith(matrix.os, 'windows')
      run: scripts\run-python-checks.cmd
    - name: Run pylint checks (Linux)
      if: startsWith(matrix.os, 'ubuntu')
      run: scripts/run-python-checks.sh
    - name: Run Python unit tests (Windows)
      if: startsWith(matrix.os, 'windows')
      run: scripts\run-python-tests.cmd
    - name: Run Python unit tests (Linux)
      if: startsWith(matrix.os, 'ubuntu')
      run: scripts/run-python-tests.sh
